.header {
    background-color: whitesmoke;
    height: 3em;
    border: 1px solid;
    border-top-color: whitesmoke; 
    border-bottom-color: rgb(202, 198, 198);
    box-shadow: 10px;
}

.content{
    color: rgb(42, 233, 144);
    font-size: 1.5em;
}

.logoAdmin{
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.searchbar{
    margin-top: 10px;
    margin-bottom: 5px;
    height: 2em;
    background-color: white;
    border-radius: 50px;
}

.search_input{
color: white;
    border: 1px black;
    background: none;
    width: 100%;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}


.search_icon{
    margin-top: 6px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.user-icon {
    margin-top: 10px;
    cursor: pointer;
    font-size: 24px;
    margin-left: 150px;
    color: rgb(42, 233, 144);
}