.menu {
    background-color: rgb(146, 139, 139, 0.2);
    padding: 0;
    height: 35em;
}

.menu1 {
    background-color: white;
    height: 100%;
    width: 85%;
}

.menu_item {
    background-color: white;
    border: 1px rgb(146, 139, 139, 0.2) solid;
    border-bottom-color: rgb(171, 179, 187);
    height: 60px;
    padding: 0.7em;
}

.menu_item:hover {
    background-color: aquamarine;
}

.menu_item:hover .menu_icon, .menu_item:hover .menu_content{
    
    color: white
}

.menu_icon {
    color: rgb(129, 124, 124);
    margin-left: 30px;
    margin-top: 10px;
    font-size: 18px;
}

.menu_content {
    color: rgb(129, 124, 124);
    font-size: 16px;
    margin-left: 15px;
}

.body-content {
    background-color: rgb(146, 139, 139, 0.2)
}